.leftSideBarWrapper{
    width: 3.5rem;
    height: 100%;
    padding: 1% 0;
    .leftSideList{
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        align-items: center;
        & > div >img {
            width: 35px;
            cursor: pointer;
            
        }
    }

}