.buttonWrapper{
    padding: 0.7rem 1.5rem;
    background-color: #FFFFFF;
    border: none;
    border-radius: 0.68rem;
    color: #46376F;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}